
<html>
  <head>
    <title>Suas agendas no Google Calendar</title>
    <style type=text/css>
      td  { vertical-align: top; padding: 0.5em }
      img { border:0 }
    </style>
  </head>
  <body><h2>Listas das suas agendas</h2>
  	<a href="/g_cal/novo_calendario/">Novo Calendario</a>
    <table border=1>
      {% for agenda in agendas.items %}
      <tr>
      	<td><a href="/g_cal/{{ agenda.id }}/listar_eventos">{{ agenda.summary }}</a></td>
      	<td><a href="/g_cal/{{ agenda.id }}/listar_acl_calendario"> ACL </a></td>
      	<td><a href="/g_cal/{{ agenda.id }}/ver_calendario_g"> Ver o calendario </a></td>
      	</tr>
      {% endfor %}
    </table>
  </body>
</html>
